
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Spline Sans', sans-serif;
}

.slide-container{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.Objective{
  background-color: lightgray;
}

.slide{
  display: flex;
  width: 45%;
  justify-self: center;
}

.heroLiItem{
  display: flex;
}

@media screen and (max-width: 980px){
  .slide{
      width: 90%;
  }
}